@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&family=Hanken+Grotesk:wght@400;700;800&family=Public+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", "Inter", ui-sans-serif, system-ui, sans-serif;
  
  /* Admin Dashboard - Industrial Precision */
  --font-admin-header: "Hanken Grotesk", sans-serif;
  --font-admin-body: "Public Sans", sans-serif;
  
  --color-brand-gold: #cfaa60;
  --color-brand-black: #000000;
  --color-brand-white: #ffffff;
  
  --color-admin-orange: #cfaa60; /* Matched to Logo Gold */
  --color-admin-black: #121212;
  --color-admin-surface: #fdfdfd;
  --color-admin-border: #eee;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-white);
  color: var(--color-brand-black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
